body {
  font-family: Roboto, sans-serif;
  font-size: 1.25em;
  margin: 0;
  background-image: url("../images/background.jpg");
  background-position: 50px,50px;
  background-attachment: fixed;
  color: #ffffff;

}

p.signature{
    text-align: right;
}

img{
    display: block;
   justify-content: center;
   margin : auto;
   width : 70%;
   min-width: 300px;
   border-radius: 5px;
}



div{
    margin : auto;
}

nav{
    float : left;
    width : 200px;
    height: 100;
    background-color: #245388;
    margin:  15px;
    position: fixed;

}

article{
    background: #245388;
    border-radius: 10px;
    max-width: 950px;
    margin:  15px auto ;
    padding: 1px 50px 5px;
    box-shadow: 0px 0px 21px 3px rgba(0,0,0,0.3);
}

a{
    color:#e7c860
}
a:hover{
    color:#ccac43
}


